<?xml version="1.0"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ListConfigurations />
  <CurrentWorkspace>
    <PanelSize>
      <Width>400</Width>
      <Height>250</Height>
    </PanelSize>
    <PanelVisible>false</PanelVisible>
    <FormBounds>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <X>0</X>
      <Y>0</Y>
      <Width>0</Width>
      <Height>0</Height>
    </FormBounds>
    <UndockedReaderBounds>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <X>0</X>
      <Y>0</Y>
      <Width>0</Width>
      <Height>0</Height>
    </UndockedReaderBounds>
    <DatabaseView BrowserSplit="250" PreviewSplit="200">
      <InfoBrowserSize>
        <Width>200</Width>
        <Height>150</Height>
      </InfoBrowserSize>
    </DatabaseView>
    <FileView BrowserSplit="250" PreviewSplit="200">
      <InfoBrowserSize>
        <Width>200</Width>
        <Height>150</Height>
      </InfoBrowserSize>
      <ItemViewConfig ItemViewMode="Thumbnail">
        <Columns>
          <Column Id="101" Width="60" />
          <Column Id="100" Width="30" />
          <Column Id="102" Width="22" />
          <Column Width="40" />
          <Column Id="1" Width="200" />
          <Column Id="2" Width="40" />
          <Column Id="3" Width="40" />
          <Column Id="4" Visible="false" Width="200" />
          <Column Id="5" Width="40" />
          <Column Id="6" Width="40" />
          <Column Id="7" Width="40" />
          <Column Id="39" Width="40" />
          <Column Id="9" Visible="false" Width="200" />
          <Column Id="10" Visible="false" Width="200" />
          <Column Id="11" />
          <Column Id="12" Visible="false" />
          <Column Id="13" Visible="false" />
          <Column Id="14" Visible="false" />
          <Column Id="15" Width="50" />
          <Column Id="16" Visible="false" Width="40" />
          <Column Id="17" Visible="false" Width="40" />
          <Column Id="18" Visible="false" Width="40" />
          <Column Id="19" Visible="false" Width="40" />
          <Column Id="20" Visible="false" Width="40" />
          <Column Id="21" Visible="false" Width="40" />
          <Column Id="22" Visible="false" />
          <Column Id="23" Visible="false" />
          <Column Id="24" Visible="false" />
          <Column Id="25" Visible="false" Width="40" />
          <Column Id="26" Visible="false" Width="200" />
          <Column Id="27" Visible="false" Width="40" />
          <Column Id="28" Visible="false" Width="40" />
          <Column Id="29" Visible="false" Width="40" />
          <Column Id="30" Visible="false" Width="200" />
          <Column Id="31" Visible="false" Width="60" />
          <Column Id="32" Visible="false" Width="40" />
          <Column Id="33" Visible="false" Width="40" />
          <Column Id="34" Visible="false" Width="40" />
          <Column Id="35" Visible="false" Width="22" />
          <Column Id="36" Visible="false" Width="22" />
          <Column Id="37" Visible="false" Width="40" />
          <Column Id="38" Visible="false" Width="40" />
          <Column Id="8" Visible="false" Width="60" />
          <Column Id="40" Visible="false" Width="60" />
          <Column Id="41" Visible="false" Width="60" />
          <Column Id="42" Visible="false" Width="60" />
          <Column Id="43" Visible="false" Width="60" />
          <Column Id="44" Visible="false" Width="60" />
          <Column Id="45" Visible="false" Width="60" />
          <Column Id="46" Visible="false" Width="60" />
          <Column Id="47" Visible="false" Width="60" />
          <Column Id="48" Visible="false" Width="50" />
          <Column Id="49" Visible="false" Width="50" />
          <Column Id="50" Visible="false" Width="50" />
          <Column Id="51" Visible="false" Width="50" />
          <Column Id="52" Visible="false" Width="50" />
          <Column Id="53" Visible="false" Width="50" />
          <Column Id="54" Visible="false" Width="50" />
          <Column Id="55" Visible="false" Width="50" />
          <Column Id="56" Visible="false" Width="50" />
          <Column Id="57" Visible="false" Width="50" />
          <Column Id="58" Visible="false" Width="22" />
          <Column Id="59" Visible="false" Width="22" />
          <Column Id="60" Visible="false" Width="16" />
          <Column Id="61" Visible="false" Width="22" />
          <Column Id="62" Visible="false" Width="100" />
          <Column Id="63" Visible="false" Width="100" />
          <Column Id="64" Visible="false" Width="100" />
          <Column Id="65" Visible="false" Width="100" />
          <Column Id="66" Visible="false" Width="100" />
          <Column Id="67" Visible="false" Width="100" />
          <Column Id="68" Visible="false" Width="40" />
          <Column Id="69" Visible="false" Width="40" />
          <Column Id="70" Visible="false" Width="60" />
          <Column Id="200" Visible="false" Width="50" />
          <Column Id="201" Visible="false" Width="50" />
          <Column Id="202" Visible="false" Width="50" />
          <Column Id="203" Visible="false" Width="50" />
          <Column Id="204" Visible="false" Width="50" />
          <Column Id="205" Visible="false" Width="50" />
          <Column Id="206" Visible="false" Width="50" />
          <Column Id="207" Visible="false" Width="50" />
          <Column Id="208" Visible="false" Width="50" />
          <Column Id="209" Visible="false" Width="50" />
          <Column Id="210" Visible="false" Width="50" />
          <Column Id="211" Visible="false" Width="50" />
          <Column Id="212" Visible="false" Width="50" />
          <Column Id="213" Visible="false" Width="50" />
        </Columns>
        <ThumbnailSize>
          <Width>128</Width>
          <Height>128</Height>
        </ThumbnailSize>
        <TileSize>
          <Width>192</Width>
          <Height>96</Height>
        </TileSize>
        <ItemRowHeight>24</ItemRowHeight>
      </ItemViewConfig>
    </FileView>
    <PagesViewConfig>
      <Columns>
        <Column Width="40" />
        <Column Id="1" />
        <Column Id="2" />
        <Column Id="3" />
        <Column Id="4" Width="60" />
        <Column Id="5" Width="60" />
        <Column Id="6" Width="150" />
        <Column Id="7" Width="150" />
        <Column Id="8" Width="60" />
        <Column Id="9" Width="60" />
      </Columns>
      <ThumbnailSize>
        <Width>128</Width>
        <Height>128</Height>
      </ThumbnailSize>
      <TileSize>
        <Width>192</Width>
        <Height>96</Height>
      </TileSize>
      <ItemRowHeight>24</ItemRowHeight>
    </PagesViewConfig>
    <LandscapeLayout />
    <PortraitLayout />
  </CurrentWorkspace>
  <Workspaces />
  <RunCount>1</RunCount>
  <PasteProperties>Series</PasteProperties>
  <SelectedBrowser>tsbLibrary</SelectedBrowser>
  <LastLibraryItem>49f70c6d-84ca-48f2-b116-49ff63dc5da4</LastLibraryItem>
  <LastOpenFilterIndex>1</LastOpenFilterIndex>
  <FavoriteFolders />
  <RemoteShares />
  <PluginsStates>+Autonumber,+CommitProposed,+NewComics,+SaveCSVList,+RenameBookFiles,-SetComicInfoDirty,-GetBooksWith,-AutoadjustTwoPageMode,-DummySearch,-DummyHtmlInfoPanel,-WebLinkInfoPanel,-DummyUIInfoPanel,-ComicRackUserForum,-FadeReadThumbnails,-ShowStartupMessage,-ShowShutdownMessage,-ParseComicPath,-BookHasBeenOpened,+SearchAndReplace</PluginsStates>
  <Shares />
  <PasswordCache />
  <GlobalColorAdjustment />
  <MagnifySize>
    <Width>300</Width>
    <Height>200</Height>
  </MagnifySize>
  <ReaderKeyboardV3>
    <Action Key="NextComic" Value="N|None|None|None" />
    <Action Key="PrevComic" Value="P|None|None|None" />
    <Action Key="RandomComic" Value="L|None|None|None" />
    <Action Key="ShowBrowser" Value="MouseLeft|Escape|None|None" />
    <Action Key="MoveToFirstPage" Value="Home, Ctrl|GestureDouble1|None|None" />
    <Action Key="MoveToPreviousPage" Value="PageUp|Left, Alt|Gesture1|FlickRight" />
    <Action Key="MoveToNextPage" Value="PageDown|Right, Alt|Gesture3|FlickLeft" />
    <Action Key="MoveToLastPage" Value="End, Ctrl|GestureDouble3|None|None" />
    <Action Key="MoveToPrevBookmark" Value="PageUp, Ctrl|None|None|None" />
    <Action Key="MoveToNextBookmark" Value="PageDown, Ctrl|None|None|None" />
    <Action Key="PrevTab" Value="Tab, Shift|None|None|None" />
    <Action Key="NextTab" Value="Tab|None|None|None" />
    <Action Key="MoveToPrevPageSingle" Value="PageUp, Shift|None|None|None" />
    <Action Key="MoveToNextPageSingle" Value="PageDown, Shift|None|None|None" />
    <Action Key="MovePrevPart" Value="Space, Shift|Gesture7|None|None" />
    <Action Key="MoveNextPart" Value="Space|Gesture9|None|None" />
    <Action Key="MoveFirstPart" Value="Home|None|None|None" />
    <Action Key="MoveLastPart" Value="End|None|None|None" />
    <Action Key="MovePartDown10" Value="V|Down, Ctrl|None|None" />
    <Action Key="MovePartUp10" Value="B|Up, Ctrl|None|None" />
    <Action Key="ToggleAutoScrolling" Value="S|None|None|None" />
    <Action Key="DoublePageAutoScroll" Value="S, Shift|None|None|None" />
    <Action Key="MoveUp" Value="Up|MouseWheelUp|None|None" />
    <Action Key="MoveDown" Value="Down|MouseWheelDown|None|None" />
    <Action Key="MoveLeft" Value="Left|MouseTiltLeft|None|None" />
    <Action Key="MoveRight" Value="Right|MouseTiltRight|None|None" />
    <Action Key="ToggleUndockReader" Value="D|None|None|None" />
    <Action Key="ToggleFullScreen" Value="F|MouseDoubleLeft|Gesture2|None" />
    <Action Key="ToggleTwoPages" Value="T|None|None|None" />
    <Action Key="ToggleRealisticPages" Value="D, Shift|None|None|None" />
    <Action Key="ToggleMagnify" Value="M|TouchPressAndTap|None|None" />
    <Action Key="ToggleMenu" Value="K|None|None|None" />
    <Action Key="ToggleNavigationOverlay" Value="Gesture8|TouchTwoFingerTap|None|None" />
    <Action Key="Original" Value="D1|None|None|None" />
    <Action Key="FitAll" Value="D2|None|None|None" />
    <Action Key="FitWidth" Value="D3|None|None|None" />
    <Action Key="FitWidthAdaptive" Value="D4|None|None|None" />
    <Action Key="FitHeight" Value="D5|None|None|None" />
    <Action Key="FitBest" Value="D6|None|None|None" />
    <Action Key="SinglePage" Value="D7|None|None|None" />
    <Action Key="TwoPages" Value="D8|None|None|None" />
    <Action Key="TwoPagesAdaptive" Value="D9|None|None|None" />
    <Action Key="RightToLeft" Value="D0|None|None|None" />
    <Action Key="OnlyFitIfOversized" Value="O|None|None|None" />
    <Action Key="RotateC" Value="R|None|None|None" />
    <Action Key="RotateCC" Value="R, Shift|None|None|None" />
    <Action Key="AutoRotate" Value="A|None|None|None" />
    <Action Key="ZoomIn" Value="MouseWheelUp, Ctrl|None|None|None" />
    <Action Key="ZoomOut" Value="MouseWheelDown, Ctrl|None|None|None" />
    <Action Key="StepZoomIn" Value="Z|None|None|None" />
    <Action Key="StepZoomOut" Value="Z, Shift|None|None|None" />
    <Action Key="ToggleZoom" Value="TouchDoubleTap|None|None|None" />
    <Action Key="PageRotateC" Value="Y|None|None|None" />
    <Action Key="PageRotateCC" Value="Y, Shift|None|None|None" />
    <Action Key="Exit" Value="Q|None|None|None" />
  </ReaderKeyboardV3>
  <ShowSplash>false</ShowSplash>
  <NewsStartup>false</NewsStartup>
  <LastOpenFiles />
  <ShowQuickManual>false</ShowQuickManual>
  <CloseMinimizesToTray>false</CloseMinimizesToTray>
  <RemoteViewConfigList />
  <RemoteExplorerViewSettingsList />
  <QuickSearchList />
  <LibraryQuickSearchList />
  <KeyboardLayouts />
  <ThumbnailFiles />
  <ExportUserPresets />
  <Devices />
</Settings>